<h5>Student and Instructor Login </h5>
<form>
<label>Username:</label>
<input type="text" name="username">
<label>Passwords: </label >
<input type="password" name="password">
<input class="button" type="submit">
</form>