<h3>Welcome to the elearning system </h3>
	<p>Super cool online learning system! From CMU!</p>

	<a class="button" href="/users/signup">Sign up Free</a>
	<p> You need to signup to register for free classes</p>  
 